<% @timelines.each do |event| %>
  <% if( event.timelineable_type == "Relationship" ) %>
    <p>Following <%= event.timelineable.followed.email %></p>
  <% elsif (event.timelineable_type == "Post") %>
    <p>Submitted post: <%= event.timelineable.body %></p>
  <% elsif (event.timelineable_type == "Like") %>
    <p>Liked post: <%= event.timelineable.post.body %></p>
  <% elsif (event.timelineable_type == "Comment") %>
    <p>Commented: <%= event.timelineable.body %><br />
    For this post: <%= event.timelineable.post.body %></p>
  <% end %>
<% end %>
<%= will_paginate @timelines %>
