<%= form_for(@post) do |f| %>
  <%= render 'common/form_errors', object: @post %>
  <%= f.hidden_field :category, :value => @category %>

  <p>
    <%= f.text_area :body %>
  </p>

  <p>
    <% if ['problem', 'question'].include? @category %>
      <%= f.text_area :additional_body %><br />
    <% end %>
  </p>

  <p>
    <%= f.label :tag_list, 'Tags (separated by commas)' %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label :origin_list, 'Origins (separated by commas)' %><br />
    <%= f.text_field :origin_list %>
  </p>

  <p>
    <%= f.submit "Submit a #{@category.capitalize}" %>
  </p>

<% end %>
