<%= form_for(@post) do |f| %>
  <%= render 'common/form_errors', object: @post %>
  <%= f.hidden_field :type, :value => @type %>

  <p>
    <%= f.text_area :body %><br />
    <% if ['problem', 'question'].include? @type %>
      <%= f.text_area :additional_body %><br />
    <% end %>
    <%= f.submit "Submit a #{@type.capitalize}" %>
  </p>

<% end %>
