<% provide(:title, 'View post') %>

<p><%= @body %></p>

<p><%= @answer %></p>

<p><%= @solution %></p>

<p>Tags:
<%= @tags %></p>

<p>Origins:
<%= @origins %></p>

<%= render 'posts/like_form' %>

<p>Views: <%= @post.views_count %></p>

<h1><%= @post.user.email.capitalize %> says:</h1>

<p><%= @post.body %></p>

<div id="post-comments">
  <h2>Post comment</h2>
  <%= render 'comments/comment_form' %>
</div><!-- end post-comments -->

<div id="comments">
  <h2>Comments</h2>

  <% if @post.comments.any? %>
    <ul><%= render @post.comments %></ul>
  <% else %>
    <p>No comments</p>
  <% end %>
</div>
