<% provide(:title, 'View post') %>

<% if @pending_patches.empty? %>
  <p>There are no pending patches</p>
<% end %>
<% @pending_patches.each do |p| %>
  <p>Here is pending patch <%= link_to p.id, post_patch_path(@post, p) %></p>
<% end %>

<%= simple_format @description %>
<%= simple_format @body %>
<%= simple_format @answer %>
<%= simple_format @solution %>

<p>Tags:
<%= @tags %></p>

<p>Origins:
<%= @origins %></p>

<%= render 'posts/like_form' %>

<p>Views: <%= @post.views_count %></p>

<h1><%= @post.user.email.capitalize %> says:</h1>

<%= simple_format @post.description %>
<%= simple_format @post.body %>

<p>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(u t.downcase) }.join(', ') %></p>
<p>Origins: <%= raw @post.origin_list.map { |t| link_to t, origin_path(u t.downcase) }.join(', ') %></p>

<div id="post-comments">
  <h2>Post comment</h2>
  <%= render 'comments/comment_form' %>
</div><!-- end post-comments -->

<div id="comments">
  <h2>Comments</h2>

  <% if @post.comments.any? %>
    <ul><%= render @post.comments %></ul>
  <% else %>
    <p>No comments</p>
  <% end %>
</div>
